version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "@types/node"
    groups:
      lint:
        patterns:
          - '@biomejs/*'
      types:
        patterns:
          - '@types/*'
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/*'
