services:
  redis:
    image: "redis:7-alpine"

    command: redis-server --requirepass sOmE_sEcUrE_pAsS

    ports:
      - "6379:6379"

    environment:
      - REDIS_REPLICATION_MODE=master

    healthcheck:
      test: ["CMD", "redis-cli", "-a", "sOmE_sEcUrE_pAsS", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  valkey:
    image: "valkey/valkey:8-alpine"

    command: valkey-server --requirepass sOmE_sEcUrE_pAsS

    ports:
      - "6380:6379"

    environment:
      - VALKEY_REPLICATION_MODE=master

    healthcheck:
      test: ["CMD", "valkey-cli", "-a", "sOmE_sEcUrE_pAsS", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
